/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.yellow {
    color: #e49919;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #072f76 !important;
    color: #FFFFFF !important;
}

.msg-error {
    background-color: #e35e6b !important;
    color: #FFFFFF !important;
}