.sidenav {
    background-color: #072f76;
    width: 200px;
}

.sidenav a {
    color: #FFF;
    text-decoration: none;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}